body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  margin: auto;
}

img {
  margin: auto;
}

a {
  padding: 10px;
  background-color: gray;
}

figcaption {
  font-size: 6;
}

#featured-property {
  width: 800px;
}

#details {
  display: block;
} 

div {
  float: left;
  
}
  
